.topsection{
    background-color: pink;
    height: 300px;
    width: 100%;
    float: left;
}
.backgroundp{
   /* background-color: purple;
    height: 100px;*/

    background-image: url('cricket.jpg');
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: fixed;
    margin-top: 300px;
}


.bottomsection{
    background-color: lightgreen;
    height: 600px;
    width: 100%;
    float: left;
}
